$hd-min: 1200px;
$desktop-max: 1199px;
$desktop-min: 992px;
$laptop-max: 991px;
$laptop-min: 768px;
$tablet-max: 767px;
$tablet-min: 576px;
$mobile-max: 575px;

@mixin screen-hd {
    @media screen and (min-width: $hd-min) {
      @content;
    }
}
@mixin screen-desktop {
    @media screen and (min-width: $desktop-min) and (max-width: $desktop-max) {
        @content;
    }
}
@mixin screen-laptop {
    @media screen and (min-width: $laptop-min) and (max-width: $laptop-max) {
        @content;
    }
}
@mixin screen-tablet {
    @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
        @content;
    }
}
@mixin screen-mobile {
    @media screen and (max-width: $mobile-max) {
        @content;
    }
}

.Modal {
    text-align: center;
    .modal-button {
        text-decoration: none;
        background-color: transparent;
        font-weight: bold;
        font-size: 3vw;
        color: rgb(207, 207, 207);
        border: none;
        outline: none;
        text-decoration: underline;
        @include screen-mobile {
            font-size: 4vw;
        }
    }
}

.ReactModalPortal {
    .overlay-base {
        padding: 1rem;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0);
        opacity: 0;
        transition-property: background-color, opacity;
        transition-duration: 500ms;
        transition-timing-function: ease-in-out;
        outline: 0;
        display: flex;
        justify-content: center;
        align-items: center;


        &.overlay-after {
            background-color: rgba(0, 0, 0, 0.8);
            opacity: 1;

            &.overlay-before {
                background-color: rgba(0, 0, 0, 0);
                opacity: 0;
                .content-base {
                    &.content-after {
                        &.content-before {
                            width: 0%;
                            height: 0%;
                            background-color: transparent;
                            display:none;
                        }  
                    } 
                }
            }

            .content-base {
                position: relative;
                top: auto;
                left: auto;
                right: auto;
                bottom: auto;
                margin: 0 auto;
                border: 0;
                outline: 0;
                /* display: flex; */
                justify-content: center;
                align-items: center;
                height: 0%;
                width: 0%;
                background-color: transparent;
                transition-property: background-color;
                transition-duration: 500ms;
                transition-timing-function: ease-in-out, width, height;
                border-radius: 30px;
                font-size: 24px;
                color: black;
                /* text-align: center; */
                -webkit-backface-visibility:hidden;
                backface-visibility:hidden;
                overflow:hidden;
                overflow-y: auto;
                z-index: 10;


                &.content-after {
                    width: 60%;
                    background-color: rgb(240, 240, 240);
                    padding: 30px 20px 50px;
                    color: #50496d;
                    @include screen-hd {
                        height: 55%;
                        padding: 30px 30px 50px;
                    }
                    @include screen-desktop {
                        height: 52%;
                    }
                    @include screen-laptop {
                        height: 53%;
                        padding: 30px 30px 30px;
                    }
                    @include screen-tablet {
                        height: 58%;
                        padding: 30px 30px 10px;
                    }
                    @include screen-mobile {
                        height: 40%;
                        width: 65%;
                        padding: 30px 30px 30px;
                    }

                    &.content-before {
                        width: 0%;
                        height: 0%;
                        background-color: transparent;
                    }  
            
                    button {
                        position: absolute;
                        margin: 0;
                        top: 10px;
                        right: 15px;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        border-style: none;
                        background: rgb(240, 240, 240);
                    }
                    button::before {
                        position: absolute;
                        top: 0.2em;
                        left: 0.6em;
                        width: 0.2em;
                        height: 1em;
                        content: "";
                        background-color:#fa3e90;
                        transform: rotate(45deg);
                    }
                    button:after {
                        position: absolute;
                        top: 0.6em;
                        left: 0.2em;
                        width: 1em;
                        height: 0.2em;
                        content: "";
                        background-color: #fa3e90;
                        transform: rotate(225deg);
                    }
                    .modal-logo {
                        margin-left: 0px;
                        width: 20%;
                        height: auto;
                    }
                    .modal-title {
                        font-weight: bold;
                    }
                    .about-this-app {
                        font-size: 18px;
                        padding-left: 10px;
                    }
                    .about-user-page {
                        font-size: 18px;
                        padding-left: 10px;
                    }
                    .scope-list {
                        font-size: 18px;
                        padding-left: 10px;
                    }
                    .scopes {
                        font-weight: bold;
                        margin-bottom: 3%;
                    }
                    .user-page-instruction {
                        font-size: 18px;
                        padding-left: 10px;
                    }
                    @include screen-hd {
                        .about-this-app, .about-user-page, .scope-list, .user-page-instruction {
                            font-size: 2.5vw;
                        }
                    }
                    @include screen-desktop {
                        .about-this-app, .about-user-page, .scope-list, .user-page-instruction {
                            font-size: 2.5vw;
                        }
                    }
                    @include screen-laptop {
                        .about-this-app, .about-user-page, .scope-list, .user-page-instruction {
                            font-size: 2.5vw;
                        }
                    }
                    @include screen-tablet {
                        .about-this-app, .about-user-page, .scope-list, .user-page-instruction {
                            font-size: 2.5vw;
                        }
                    }
                    @include screen-mobile {
                        padding: 15px 10px 5px;
                        .about-this-app, .scope-list {
                            font-size: 2.5vw;
                            padding-left: 5%;
                        }
                        .about-user-page, .user-page-instruction {
                            padding-left:4%;
                        }
                        h2 {
                            font-size: 4vw;
                            padding-left: 3%;
                        }
                        .scope-list>ul {
                            padding-inline-start: 20px;
                        }
                        .user-page-instruction>ul {
                            padding-inline-start: 10px;
                        }
                    }
                } 

            }
        }
    
    }
}