$hd-min: 1200px;
$desktop-max: 1199px;
$desktop-min: 992px;
$laptop-max: 991px;
$laptop-min: 768px;
$tablet-max: 767px;
$tablet-min: 576px;
$mobile-max: 575px;

@mixin screen-hd {
    @media screen and (min-width: $hd-min) {
      @content;
    }
}
@mixin screen-desktop {
    @media screen and (min-width: $desktop-min) and (max-width: $desktop-max) {
        @content;
    }
}
@mixin screen-laptop {
    @media screen and (min-width: $laptop-min) and (max-width: $laptop-max) {
        @content;
    }
}
@mixin screen-tablet {
    @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
        @content;
    }
}
@mixin screen-mobile {
    @media screen and (max-width: $mobile-max) {
        @content;
    }
}

.page {
    min-height: 100vh;
    .user-page {
        min-height: 100vh;
        background: url("../img/background.jpg");
        background: #040402;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;

        @include screen-tablet {
            .header-container>img.logo {
                display:none;
            }
        }

        @include screen-mobile {
            .header-container>img.logo {
                display:none;
            }
        }
        .navi-container {
            display: flex;
            // flex-wrap: wrap;
            position: fixed;
            flex-direction: row;
            top: 3%;
            right: 3%;
            background:rgb(56, 56, 56);
            align-items: center;
            justify-content: space-around;
            border-radius: 30px;
            z-index: 10;
            width: 70%;
            // height: 8%;
            p {
                margin-bottom: 0px;
            }
            @include screen-tablet {
                width: 85%;
                top: 5%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 6%;
            }
            @include screen-mobile {
                width: 80%;
                top: 5%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 6%;
            }

            .show-followings {
                display: flex;
                width: 200px;
                margin-right: 10px;
                // margin-left: auto;
                // margin-right: auto;
                justify-content: space-between;
                align-items: center;
                border-radius: 15px;

                @include screen-tablet {
                    width: 25%;
                }

                #show-followings {
                    // margin-top: 50px;
                    text-align: center;
                    font-weight: bold;
                    color: rgb(207, 207, 207);
                    margin: 0;
                    margin-left: 10px;
                    margin-right: 5%;
                    font-size: 1.2vw;
                    @include screen-laptop {
                        font-size: 1.0vw;
                    }
                    @include screen-tablet {
                        font-size: 1.0vw;
                    }
                    @include screen-mobile {
                        font-size: 0.9vw;
                    }
                }

                .mt-ios-blue {
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;

                    label {
                        margin-bottom: 0px;
                    }
                    @include screen-tablet {
                        font-size: 11px;
                    }
                    @include screen-mobile {
                        font-size: 10px;
                    }
                }
            }

            .guide {
                width: 100px;
                margin-right: 10px;
                font-weight: bold;
                @include screen-tablet {
                    width: 25%;
                }
                @include screen-mobile {
                    width: 30%;
                }
                .Modal {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    .modal-button {
                        font-size: 2.0vw !important;
                        text-decoration: none !important;
                        #guide-icon {
                            width: 50px;
                            height: 50px;
                        }
                        @include screen-tablet {
                            #guide-icon {
                                width: 25px;
                                height: 25px
                            }
                        }
                        @include screen-mobile {
                            #guide-icon {
                                width: 20px;
                                height: 20px
                            }
                        }
                    }
                    .modal-button:hover {
                        text-decoration: underline !important;
                        #guide-icon {
                            opacity: 0.7;
                        }
                    }
                }
            }
            #to-setting {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100px;
                margin-right: 10px;
                font-weight: bold;
                font-size: 2.0vw;
                color: rgb(207, 207, 207);
                @include screen-tablet {
                    width: 25%;
                    justify-self: flex-end;
                }
                @include screen-mobile {
                    width: 30%;
                    justify-content: flex-end;
                }

                #settings-icon {
                    width: 50px;
                    height: 50px;
                    @include screen-tablet {
                        width: 25px;
                        height: 25px;
                    }
                    @include screen-mobile {
                        width: 20px;
                        height: 20px;
                    }
                }
                #settings-icon:hover {
                    opacity: 0.7;
                }
            }

            .logout-area {
                display: flex;
                text-align: center;
                justify-content: center;
                width: 100px;
                @include screen-tablet {
                    width: 25%;
                }
                @include screen-mobile {
                    width: 30%;
                }
                // margin-right: 10px;
                button {
                    text-decoration: none;
                    background-color: transparent;
                    font-weight: bold;
                    font-size: 2.0vw;
                    color: rgb(207, 207, 207);
                    /* text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.32), 0px 1px 0px #6182ca, 0px 2px 0px #4f6aa7, 0px 3px 0px #5470ad; */
                    border: none;
                    outline: none;
                    // padding-bottom: 10px;
                    // text-decoration: underline;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    #logout-icon {
                        width: 50px;
                        height: 50px;
                        @include screen-tablet {
                            width: 25px;
                            height: 25px;
                        }
                        @include screen-mobile {
                            width: 20px;
                            height: 20px;
                        }
                    }
                    #logout-icon:hover {
                        opacity: 0.7;
                    }
                }
                button:hover {
                    text-decoration: underline;
                }
            }

            .delete-button-div {
                text-align: center;
                // width: 300px;
                width: 50%;
                // height: 73px;
                height: 100%;
                padding: 0px;
                margin: 0px;
                font-size: 2vw;
                @include screen-hd {
                    width: 40%; 
                }
                @include screen-mobile {
                    width: 80%;
                }

                .delete-button {
                    // width: 300px;
                    width: 100%;
                    // height: 73px;
                    height: 100%;
                    z-index: 1;
                    border: transparent;

                    display: inline-block;
                    color: #FFF;
                    text-decoration: none;
                    font-weight: bold;
                    padding: 12px 24px;
                    border-radius: 30px;
                    background-image: linear-gradient(-90deg, #fa3e90, hsl(216, 88%, 39%));
                    transition: .5s;
                    background-size: 200%;
                    /* #FF006E */
                    border: none;
                    outline: none;
                }
                .delete-button:hover {
                    background-position: right center;
                }
            }   
        }
        .artistContainer {
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            margin-top: 30px;
            justify-content: center;
            @include screen-tablet {
                margin-top: 0px;
                padding-top: 100px;
            }

            @include screen-mobile {
                margin-top: 0px;
                padding-top: 100px;
            }

            .artist {
                display: flex;
                flex-direction: column;
                margin: 30px;
                align-items: center;
                width: 80px;

                input[type=checkbox] {
                    display:none;
                }

                label:hover {
                    opacity: 0.5;
                    cursor : pointer;
                }

                input[type=checkbox]:checked + label {
                    // background: #65a3e0;
                    opacity: 90%;
                    display:inline-block;
                    padding: 0 0 0 0px;
                }
                
                .artist-name {
                    text-align: center;
                    color: hsl(216, 85%, 62%);
                }

                @include screen-hd {
                    width: 9%;
                    label {
                        width: 90px !important;
                        height: 90px !important;
                    }
                }
                @include screen-desktop {
                    width: 9%;
                    label {
                        width: 90px !important;
                        height: 90px !important;
                    }
                }
                @include screen-laptop {
                    width: 10%;
                    label {
                        width: 80px !important;
                        height: 80px !important;
                    }
                }
                @include screen-tablet {
                    margin: 20px;
                    width: 12%;
                    label {
                        width: 70px !important;
                        height: 70px !important;
                    }
                    .artist-name {
                        font-size: 1vw;
                    }
                }
                @include screen-mobile {
                    margin: 15px;
                    width: 15.5%;
                    label {
                        width: 60px !important;
                        height: 60px !important;
                    }
                    .artist-name {
                        font-size: 1vw;
                    }
                }
            }
        }
        .footer {
            text-align: center;
            font-size: 15px;
            color: rgb(207, 207, 207);
            padding-bottom: 15px;
        }
    }
}
