header {
    padding: 0;
    margin: 0 ;
    // position: absolute; 
    // position: fixed;
    top: 0;
    width: 100%;
    height: 200px;
    // background:#545454;

    .header-container {
        margin-left: 10px;
        img.logo {
            height: 200px;
            width: 200px;
            margin-left: 10px;
        }
        #setting-header:hover {
            cursor : pointer;
            opacity: 0.6;
            transition-duration: 0.3s;
        }
        
        // img.maker {
        //     height: 50px;
        //     width: 249px;
        // }
    }
}